.wrapper {
  display: flex;
  width: 100%;
}

#sidebar {
  min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
  position: sticky;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 999; 
  color: #fff;
  transition: all 0.3s;
}
body {
  font-family: 'Poppins', sans-serif;
  background: #fafafa;
}

p {
  font-family: 'Poppins', sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}

a, a:hover, a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: #1f3bab;
}

#sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px solid #47748b;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}
#sidebar ul li a:hover {
  color: #7386D5;
  background: #d1cf56;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
  color: #fff;
  background: #5662d1;
}
ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #5662d1;
}

@media (max-width: 768px) {
  #sidebar {
      margin-left: -250px;
      position: inherit;
  }
  #sidebar.active {
      margin-left: 0;
  }
}

a[data-toggle="collapse"] {
  position: relative;
}

#sidebar .dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 22px;
  right: 20px;
  transform: translateY(-50%);
}

.bg-custom{
  background: #5662d1;
}

.bg-card{
  background:#d1565c;
}

.card-text-number{
color: #d1cf56;
}